body {
  color: white;
  background-color: black;
}

.score-statistic-wrap {
  display: flex;
  justify-content: space-between;
}

td.Do {
  background-color: red;
  font-size: 20pt;
  font-weight: bold;
}

td.Xanh {
  background-color: blue;
  font-size: 20pt;
  font-weight: bold;
}

span.Hiep {
  font-size: 60pt;
  font-weight: bold;
}

span.Hiep0 {
  font-size: 60pt;
  font-weight: bold;
  color: 0;
}

span.Hiep0 {
  color: #ccffff;
  font-size: 48pt;
  font-weight: bold;
}

span.Diem {
  font-size: 240pt;
  font-weight: bold;
}

span.Ten {
  font-size: 36pt;
  font-weight: bold;
}

img.DiemTru {
  width: 30pt;
  height: 60pt;
}

img.MatBung {
  width: 40pt;
  height: 20pt;
  border-style: solid;
  border-width: 2pt;
  border-color: transparent;
}

div.TTin {
  font-size: 24pt;
  font-weight: bold;
}

div.Xanh {
  color: blue;
  font-size: 30pt;
  font-weight: bold;
}

div.Do {
  color: red;
  font-size: 30pt;
  font-weight: bold;
}

span.Xanh {
  color: blue;
}

span.Do {
  color: red;
}

input.Xanh {
  background-color: #9999ff;
}

input.Do {
  background-color: #ff9999;
}

input.BigButton {
  width: 140pt;
  height: 40pt;
}

.start-again-btn {
  display: block;
  margin-top: 8px;
  padding: 10px 20px;
  width: max-content;
  background-color: #fff;
  color: #000;
}

#DiemDo {
  padding-right: 10px;
}

#DiemXanh {
  padding-left: 10px;
}

.statistic {
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding: 26px;
}

.Do .statistic-item {
  flex-direction: row-reverse;
}

.statistic-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 25px;
}

.statistic-icon {
  width: 50px;
  height: 50px;
  border-radius: 100rem;
}

.Xanh .statistic-icon {
  transform: scaleX(-1);
}

.umpire-item--end {
  margin-bottom: 15px;
}

.mark-form {
  margin-top: 50px;
}
